div
  .ldcv.mini.bottom.left.right(plug="widget"): .base: .inner.p-2.px-3
    .d-flex.justify-content-center.align-items-center
      .mr-1(t) By continuing to browse, you agree to our use of cookies.
      .d-none.d-lg-block(t) For more details please check our privacy policy.
      .d-none.d-md-block.ml-4
      div
        a.btn.border.mr-2.my-1.py-0(t,href="/privacy/") Details
        .btn.border.my-1.py-0(t,data-ldcv-set="true") OK

  script(type="@plotdb/block"): :lsc
    module.exports =
      pkg:
        name: "@consent/cookie"
        extend: {name: "consent", path: "block/base/0.0.1/index.html"}
        i18n:
          "zh-TW":
            "By continuing to browse, you agree to our use of cookies.": "繼續使用即表示您同意我們使用 Cookie 的方式"
            "For more details please check our privacy policy.": "詳情請查閱我們的隱私權政策"
            "Details": "詳情"
            "OK": "我同意"

