node_modules
*.log
secret.*
.*.swp
.swp
config/gen
config/**/private
module/**/node_modules
module/**/web/static/assets/lib/
web/.view
module/**/web/.view
frontend/*
!frontend/base
!frontend/README.md
frontend/base/static
frontend/base/.view
!frontend/auth
frontend/auth/static
frontend/auth/.view
package-lock.json
.version
module/version/index.pug
config/**/local.*
!frontend/web
frontend/web/static/assets/lib/*
frontend/web/repo/*
frontend/web/static/google*.html
