extends ../../base.pug
block body
  .w-100.h-100.d-flex.align-items-center.justify-content-center: div
    h3.text-center 忘記密碼？
    br
    +scope("password-reset"): form.form.text-left(style="margin:auto;width:400px")
      .from-group
        p 請輸入您帳號所用的電子郵件地址，我們將發送密碼重設連結給您：
        input.form-control.form-control-lg(ld="email",name="email",placeholder="例如, me@someurl.com")
        .invalid-feedback 無效的電子郵件
        .btn.btn-success.btn-block.btn-lg.mt-2.disabled(ld="submit") 發送重設連結
      +nbr(2)
      .text-muted: small
        p 您若不是使用這個電子郵件註冊的話，就不會收到密碼重設信。
        p 若您已不記得您使用了哪組電子郵件註冊的話，請 #[a(href="#",onclick="lda.ldcvmgr.toggle('contact')") 直接與我們聯繫] ，讓我們來協助您。
      .ldcv(ld="not-found"): .base.w-640.rwd: .inner.card: .card-body: .p-4
        h1.text-center 找不到電子郵件。
        .text-center.text-muted.mb-4 我們無法找到這個電子郵件對應的帳號。
        .text-muted
          p 這可能是因為：
          ul
            li 您之前用的是另一組電子郵件。
            li 您剛剛有打錯字。
            li 您之前註冊時有打錯字。
          p 需要協助嗎？請 #[a(href="#",onclick="lda.ldcvmgr.toggle('contact')") 直接與我們聯繫]，讓我們來協助您。
        br
        .row
          .col-md: .btn.btn-lg.btn-primary.btn-block(onclick="lda.ldcvmgr.toggle('contact')") 聯絡我們
          .col-md: .btn.btn-lg.btn-outline-dark.btn-block(data-ldcv-set="") 關閉視窗
      .ldcv(ld="sent"): .base.w-640.rwd: .inner.card: .card-body: .p-4.my-4
        .text-center
          h1 重設密碼連結已寄出
          p 請檢查您的電子郵件信箱，應該不久就會收到重設密碼信囉。
        br
        //-.my-4.py-4: img#img(src="/assets/img/p/auth/reset/sending-mail.svg")
        p 等不到信嗎？有時信件會被分類到垃圾信件匣，請別忘了查看您的 #[b 垃圾信件匣]。或者，您亦可以：
        ul
          li #[a(href="/auth/passwd/reset/") 再寄一次]
          li #[a(href="#",onclick="lda.ldcvmgr.toggle('contact')") 直接聯絡我們]，讓我們協助您。

block script
  +script([
    {name: "ldform"},
    {name: "curegex", path: "curegex.min.js"}
  ])
  script(type="module"): :lsc
    ({core}) <- ldc.register <[core]>, _
    <~ core.init!then _
    @ldcv = {}
    {loader, error, captcha} = core
    view = new ldview do
      root: '[ld-scope=password-reset]'
      init:
        "sent": ({node}) ~> @ldcv.sent = new ldcover root: node, lock: true
        "not-found": ({node}) ~> @ldcv.not-found = new ldcover root: node
        "email": ({node}) ~> node.focus!
      action: click: do
        submit: ({node}) ~>
          if !pw-reset-mail.ready! => return
          loader.on!
          captcha.guard cb: (captcha) ~>
            ld$.fetch '/api/auth/passwd/reset', {method: \POST}, {json: {email: view.get(\email).value, captcha}}
              .then ~>
                @ldcv.sent.get!
              .catch (e) ~>
                loader.off!
                if lderror.id(e) == 404 => @ldcv.not-found.toggle!
                else error e
    pw-reset-mail = new ldform do
      names: -> <[email]>
      submit: '.btn[ld=submit]'
      root: view.root
      after-check: (s, f) ->
        if s.email != 1 and !curegex.get('email').exec(f.email.value) => s.email = 2
