extends /base.pug
block head
  +css("/css/dev/authpanel.css")
block body
  +script("/assets/lib/curegex/main/curegex.tw.min.js")
  .text-center
    //-+scope("authpanel")
      input(ld="username",name="username",autocomplete="username")
      input(ld="displayname",name="displayname",autocomplete="displayname")
      input(ld="password",name="password",type="password",autocomplete="password")
      a(ld="forgot-password") 忘記密碼
      button(ld="submit") 送出
      button(ld="social",data-name="facebook") Facebook
      button(ld="social",data-name="google") Google

  .w-640.mx-auto.rwd.my-4
    .iner.card.p-0.border-0.authpanel.signup: .card-body.p-0 
      .closebtn(data-ldcv-set="")
      .vertical-center.p-4.info.position-absolute.h-100.w-50.text-light
        .position-absolute.w-100.h-100.bg-semi-dark(style="top:0;left:0")
        .text-left.position-relative.z-float.text-shadow
          div(ld="info",data-name="default")
            h3.mb-3.font-weight-bold(style="line-height:1em") 登入系統
            p #[b 電子郵件]即為您的帳號。若您代表您的團隊註冊，建議您使用一個#[b 團隊可共用]的電子郵件。
            p 登入之後即可進行提案、系統管理或評選工作。


          .d-none(ld="info",data-name="signup-failed")
            h2.mb-4.font-weight-bold 註冊失敗。
            p 您可能先前已經註冊過了，或者您所填的資訊有問題。您可以試著：
            ul
              li 切換至登入模式後再試一次
              li 試著使用更複雜的密碼
              li 嘗試使用社群帳號登入
              li #[a(href="#",onclick="lda.ldcvmgr.toggle('contact');",style="color:#0ff") 與我們聯絡]
          .d-none(ld="info",data-name="login-failed")
            h2.mb-4.font-weight-bold 登入失敗。
            p 您之前可能用的是別組帳號或密碼、使用不同的登入方式、甚至尚未註冊過。您可以試著：
            ul
              li 換一組帳號、密碼或登入方式
              li 確認您的 email 或密碼沒有打錯
              li 切換至註冊模式後再試一次
              li #[a(href="/dash/auth/reset/",style="color:#0ff",target="_blank",rel="noopener noreferrer") 重設密碼]
              li #[a(href="#",onclick="lda.ldcvmgr.toggle('contact');",style="color:#0ff") 與我們聯絡]
          .d-none(ld="info",data-name="token")
            h2.mb-4.font-weight-bold 歡迎您！
            p 您受邀成為我們的一員。不過，在繼續之前您需要先登入系統。

        .position-absolute.text-sm(style="bottom:20px;right:20px")
          span Powered by Grant Dash
          //-img(src="/assets/img/c/logo/battledash.svg",style="height:1.3em;vertical-align:-.2em")
      form.form.d-flex.flex-column(ld="form")
        ul.nav.nav-tabs.pt-2.bg-light
          li.nav-item.ml-2: a.nav-link(ld="tab",data-name="signup") 註冊
          li.nav-item: a.nav-link(ld="tab",data-name="login") 登入

        .px-3.pb-4.pt-3.text-left.d-flex.flex-column.h-100
          .flex-grow-1: .vertical-center: .w-100
            .form-group
              label 電子郵件
              input.form-control.form-control-sm(name="username",
              placeholder="電子郵件即您的帳號名稱",autocomplete="username")
              .invalid-feedback(style="margin-bottom:-.75em") 無效的電子郵件
            .form-group(ld="show",data-tab="signup")
              label 顯示名稱
              input.form-control.form-control-sm(name="displayname",
              placeholder="例如：王小明",autocomplete="displayname")
              .invalid-feedback 不能留白
            .form-group
              label 密碼
              input.form-control.form-control-sm(name="password",
              placeholder="密碼，至少八個字元",type="password",autocomplete="password")
              .invalid-feedback(style="margin-bottom:-.75em") 不合格的密碼
            .form-group
              .text-center.form-text.text-muted.small
                | 登入即表示您同意我們的 #[a(href="/sys/tos/",target="_blank",rel="noopener noreferrer") 用戶條款] 與 #[a(href="/sys/privacy/",target="_blank") 隱私權政策]
            .btn.btn-success.btn-block.disabled.ld-ext-right(ld="submit")
              .d-none(ld="show",data-tab="login") 登入
              div(ld="show",data-tab="signup") 註冊
              .ld.ldld.bare.em-1
            .d-flex.justify-content-between.mt-1
              .small
              .small: a(ld="forgot-password",href="#") 忘記密碼？»

          div
            .sep.sep-text.my-4: span.text-sm 或者用下列登入
            .row
              .col: .btn.btn-primary.btn-block.btn-sm(onclick="lda.auth.fb()") #[i.i-fb] Facebook
              .col: .btn.btn-outline-dark.btn-block.btn-sm(onclick="lda.auth.google()") #[i.i-google] Google


  +script("/assets/lib/proxise/main/proxise.min.js")
  +script("/js/dev/auth.js")
  +script("/assets/lib/@loadingio/debounce.js/main/debounce.min.js")
  +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
  +script("/assets/lib/ldview/main/ldview.min.js")
  +script("/assets/lib/ldform/main/ldform.min.js")
  +script("/assets/lib/ldloader/main/ldld.min.js")
  +script("/js/dev/authpanel.js")
