include /modules/common.pug
.ldcv.ldcvmgr.ldcv-scale(data-lock="true",data-name="logout"): .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
  h1 您已登出
  p 請重新載入頁面以更新網頁至最新狀態。
  br
  .m-auto.text-left.text-muted
    p 網站中有些功能只有登入的使用者才能使用。若您繼續使用這些功能，網站將會彈出登入或者權限不足的提示。
    br
    .btn.btn-primary.btn-block.btn-lg.mr-2(onclick="window.location.reload()") 重新整理
