//- module
doctype html
html
  block vars
  include /../../static/assets/lib/bootstrap.ldui/main/index.pug
  head
    block prehead
    +css("/css/pack/vendor.min.css")
    +css("/css/index.css")
    block head
  body

    block body
    +script("/js/pack/vendor.min.js")
    block script

