extends ../base.pug
block body
  .w-100.h-100.d-flex.align-items-center.justify-content-center: .text-center
    h1 密碼重設完成。
    br
    p 那麼就 #[a(href="#",onclick="lda.auth.show('login')") 讓我們試試] 您是否可以使用新密碼成功登入吧。
    .my-4.py-4: img(src="/assets/img/p/auth/reset/key.svg")
    p
      div 還是不能登入嗎？
      div 您可以 #[a(href="/auth/reset/") 再重設一次]，或者 #[a(href="#",onclick="lda.ldcvmgr.toggle('contact')") 直接聯絡我們]。
    .ldcv.ldcvmgr(data-name="logged-in",data-lock="true"): .base.w-640.rwd: .inner.card: .card-body.text-center: .p-4
      h1 您已經登入。
      p.mb-2 現在就將您重導至首頁...
      br
      .ld.ldld.bare.running.em-1.m-auto
block script
  script: :lsc
    ldc.register <[auth ldcvmgr]>, ({auth, ldcvmgr}) ->
      ensure = ->
        auth.ensure!
          .then -> window.location.href= \/
          .catch -> ensure!
      auth.get!then ->
        if it.{}user.key =>
          lda.ldcvmgr.toggle("logged-in")
          debounce 2000 .then -> window.location.href = \/
        else debounce 2000 .then -> if !(lda.auth.is-on!) => ensure!
