//- module
include @/@loadingio/bootstrap.ext/index.pug
include @/ldview/index.pug
mixin register-locals(name = "exports")
  if locals
    script(type="module").
      ldc.register("viewlocals", [], function() {
        return !{escjson(locals[name] || null)}
      });
