//- module
.w-100.p-4.footer
  .w-1024.rwd.mx-auto
    hr
    .d-flex.g-4.align-items-end.justify-content-center.flex-wrap
      .font-weight-bold: :i18n main-title
      .text-sm: :i18n foot-organizer
      .text-sm: :i18n foot-co-organizer
    .d-flex.justify-content-center.text-sm.flex-wrap
      .m-2.entry #[i.i-link]#[a(href="https://g0v.hackmd.io/@eaKkAb8HRjOKJ4erd2STnA/10Anni-Party/https%3A%2F%2Fg0v.hackmd.io%2FMpTtG8xSTwqS6TlCM-b6VA"): :i18n foot-hackmd]
      .m-2.entry #[i.i-link.mr-1]#[a(href="/photo/"): :i18n foot-photo]
      .m-2.entry #[i.i-link.mr-1]#[a(href="https://g0v-jothon.kktix.cc/events/g0v-hackath52n",target="_blank",rel="noopener noreferrer"): :i18n foot-signup]
      //-.m-2.entry #[i.i-unlink.mr-1]#[a(href="#") Call for Projects]
      //-.m-2.entry #[i.i-unlink.mr-1]#[a(href="#"): :i18n foot-online]
        
