doctype html
html
  include @/@loadingio/bootstrap.ext/dist/index.pug
  head
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("assets/lib/ldcover/main/ldcv.min.css")
    +css("assets/lib/ldloader/main/ldld.min.css")
    +css("assets/lib/ldiconfont/main/ldif.min.css")
    +css("assets/lib/@loadingio/transition.css/main/transition.min.css")
    style(type="text/css"): :stylus
      @font-face {
        font-family: 'ldi';
        font-weight: normal;
        font-style: normal;
        src: url('assets/lib/ldiconfont/main/ldif.ttf') format('truetype');
      }
      
  body
    +script("/assets/lib/i18next/main/umd/i18next.min.js")
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/proxise/main/proxise.min.js")
    +script("/assets/lib/@loadingio/debounce.js/main/debounce.min.js")
    +script("/assets/lib/@plotdb/rescope/main/rescope.min.js")
    +script("/assets/lib/@plotdb/csscope/main/csscope.min.js")
    +script("/assets/lib/@plotdb/block/main/block.min.js")
    +script("assets/lib/ldcover/main/ldcv.min.js")
    +script("assets/lib/ldform/main/index.min.js")
    +script("assets/lib/curegex/main/curegex.min.js")
    +script("assets/lib/ldview/main/index.min.js")
    +script("assets/lib/ldloader/main/ldld.min.js")
    +script("js/auth.js")
    script: include:lsc index.ls
