doctype html
html(lang="en")
  include @/@loadingio/bootstrap.ext/dist/index.pug
  head
    meta(charset="utf-8")
    title Serverbase
    meta(name="description", content="servebase sample page")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("assets/lib/ldcover/main/index.min.css")
    +css("assets/lib/ldloader/main/index.min.css")
    +css("assets/lib/ldiconfont/main/ldif.min.css")
    +css("assets/lib/ldbutton/main/ldbtn.min.css")
    +css("assets/lib/@loadingio/loading.css/main/loading.min.css")
    +css("assets/lib/@loadingio/transition.css/main/transition.min.css")
    +css("assets/lib/ldnotify/main/index.min.css")
    style(type="text/css"): :stylus
      @font-face {
        font-family: 'ldi';
        font-weight: normal;
        font-style: normal;
        src: url('assets/lib/ldiconfont/main/ldif.ttf') format('truetype');
      }
      
  body

    .w-100.py-2.px-4.bg-dark.text-light.d-flex
      .flex-grow-1
      .clickable(ld="login") Login
    .w-1024.rwd.mx-auto.my-4
      .row
        .col-md.mb-4
          h4 Authentication
          hr
          div
            b Current Status
            p(ld="status") Not login
          div
            b User Name
            p(ld="username") n/a
          div
            b User Id
            p(ld="userid") n/a
          .btn.btn-primary.mr-2(ld="signup not-signed") Sign Up
          .btn.btn-primary.mr-2(ld="login not-signed") Login
          .btn.btn-primary.mr-2.d-none(ld="logout signed") Logout
          .btn.btn-primary(ld="reauth") Re-auth
          +nbr(2)
          .btn.btn-outline-secondary.mr-2(ld="notify") Send notify
        .col-md.mb-4

          div(ld="admin",ld-scope)
            h4 Admin Operations
            hr
            .mb-2: .btn.btn-sm.btn-primary(ld="throttle-reset") Throttle Reset
            br
            b Search User
            .input-group.mb-2
              input.form-control(ld="keyword",placeholder="email or user key ... ",aria-label="keyword")
              .input-group-append
                .btn.btn-outline-secondary(ld="search") Search
            .pb-4
              .text-center.p-4(ld="nouser") no user found
              .list-group.shadow-sm: .list-group-item.p-1.d-flex(ld-each="user")
                .btn(ld="username")
                .btn(ld="displayname")
                .flex-grow-1
                .dropdown(ld="dropdown")
                  .btn.dropdown-toggle(data-toggle="dropdown") Action
                  .dropdown-menu.shadow-sm.dropdown-menu-right
                    .dropdown-item(ld="su") Su
                    .dropdown-item(ld="change-email") Change Email
                    .dropdown-item(ld="change-password") Change Password
                    .dropdown-item(ld="random-password") Random Password
                    .dropdown-item(ld="force-logout") Force Logout
                    .dropdown-item(ld="delete-user") Delete User
            div
              h5 Add User
              hr
              .form-group
                b username
                input.form-control(ld="adduser.username",aria-label="username")
              .form-group
                b displayname
                input.form-control(ld="adduser.displayname",aria-label="displayname")
              .form-group
                b password #[span.text-sm / left empty for auto generation]
                input.form-control(ld="adduser.password",type="password",aria-label="password")
              .btn.btn-primary(ld="adduser") Add User
    +script("assets/lib/bootstrap.native/main/bootstrap-native-v4.min.js",{defer:true})
    +script("assets/lib/i18next/main/umd/i18next.min.js",{defer:true})
    +script("assets/lib/zmgr/main/index.min.js",{defer:true})
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js",{defer:true})
    +script("assets/lib/proxise/main/proxise.min.js",{defer:true})
    +script("assets/lib/@loadingio/debounce.js/main/debounce.min.js",{defer:true})
    +script("assets/lib/@plotdb/rescope/main/rescope.min.js",{defer:true})
    +script("assets/lib/@plotdb/csscope/main/csscope.min.js",{defer:true})
    +script("assets/lib/@plotdb/block/main/block.min.js",{defer:true})
    +script("assets/lib/ldcover/main/index.min.js",{defer:true})
    +script("assets/lib/ldform/main/index.min.js",{defer:true})
    +script("assets/lib/curegex/main/curegex.min.js",{defer:true})
    +script("assets/lib/ldview/main/index.min.js",{defer:true})
    +script("assets/lib/ldloader/main/index.min.js",{defer:true})
    +script("assets/lib/lderror/main/index.min.js",{defer:true})
    +script("assets/lib/auth/main/index.min.js",{defer:true})
    +script("assets/lib/ldnotify/main/index.min.js",{defer:true})

    script(type="module")
      include:lsc index.ls
      include:lsc admin.ls
