extends ../base.pug
block body
  .w-100.h-100.d-flex.align-items-center.justify-content-center: .text-center
    h1 電子郵件位址已確認。
    p 您亦可至 #[a(href="/me/settings/") 個人設定頁面] 查看您的電子郵件信箱認證狀態。
    br
    br
    p 
      div 有碰到任何關於帳號的問題嗎？
      div 請 #[a(href="#",onclick="lda.ldcvmgr.toggle('contact')") 直接與我們聯絡]。
