include /modules/common.pug
.ldcv.ldcvmgr(data-name="contact"): .base.w-640.rwd: .inner.card: .card-body: .p-4
  h1.text-center Contact Us
  .text-center.mb-4
  .text-muted
    p Please mail to #[span.text-danger our@email] along with your account name/id and other related information when contacting us (e.g., transaction id, icon name, etc. if applicable).
    p If you need helps regarding your account / payment, please mail us with the email address you used to sign up.
  +nbr(1)
  .btn.btn-primary.btn-lg.btn-block(data-ldcv-set="") Dismiss
