include /modules/common.pug
.ldcv.ldcvmgr(data-name="error"): .base.w-640.rwd: .inner.card: .card-body: .p-4.my-4
  .text-center.mb-4
    h1.font-weight-bold Ooops, Things Broken.
    p.text-muted We failed to finish your last action/request
  br
  .m-auto.text-left.text-muted
  div
    p Sorry but something went wrong in our system about what you want to do, so your last action might have failed.
    p You can try again later or #[a(href="#",onclick="lda.ldcvmgr.toggle('contact')") contact us] to see if there is anything we can do for you.
    br
    .row
      .col-md.mb-1: .btn.btn-outline-dark.btn-block.btn-lg.mr-2(onclick="lda.ldcvmgr.toggle('contact')") Contact Us
      .col-md.mb-1: .btn.btn-primary.btn-block.btn-lg.mr-2(data-ldcv-set="") Close This Popup

