div
  .w-100.h-100.d-flex.align-items-center.justify-content-center: .text-center
    h1 密碼重設連結已失效
    br
    p 因為過了有點久，為了安全起見這個驗證碼已經失效。
    br
    p
      div 等太久才收到信嗎？
      div 您可以試著 #[a(href="/auth/passwd/reset/") 再寄一次].

