extends base.pug
block script
  script(type="module"): :lsc
    ({core}) <- ldc.register <[core]>, _
    <- core.init!then _
    core.manager.from {name: "@servebase/auth"}, {root: document.body, data: {}}
      .then (o) -> o.interface true, {lock: true}
