extends base.pug
block script
  script(type="module"): :lsc
    ({core}) <- ldc.register <[core]>, _
    <- core.init!then _
    {manager} = core
    console.log core
    manager.from {name: "auth"}, {root: document.body, data: {}}
      .then (o) -> 
        o.interface true, {lock: true}

  
  //-
    ldc.register <[auth loader]>, ({auth, loader}) ->
      nexturl = (window.location.search or '')
        .replace(/^\?/,'')
        .split(\&)
        .map -> decodeURIComponent(it).trim!.split(\=)
        .filter -> it.0 == \nexturl
        .map -> it.1
        .0 or \/
      reload = ->
        loader.on!
        window.location.href = nexturl
      auth.fetch {renew: true} .then -> if it.user.key => reload!
      auth.on \auth.signin, -> reload!
