div
  .ldcv.default-size(ld="cover"): .base: .inner(ld="inner")
    .d-flex.align-items-center.justify-content-center.h-100
      .text-center
        .mb-4(ld="box")
        .btn.btn-outline-secondary.btn-block(ld="ok") OK
  script(type="@plotdb/block"): include:lsc index.ls
