extends ../base.pug
block body
  .p-4.w-480.rwd.mx-auto
    h1.text-center.my-4 登入失敗
    br

    p 您可能已經用其他方法登入過了。請再試試：
    ul
      li 換一個登入的方式
      li 確認您輸入的資訊是否正確
      li #[a(href="/auth/passwd/reset/",style="color:#09f",target="_blank",rel="noopener noreferrer") 重設密碼]
    p 您也可以直接與我們聯絡，讓我們協助您取回帳號。
  br
  br
