extends ../../base.pug
block body
  .w-100.h-100.d-flex.align-items-center.justify-content-center: .text-center
    h1 #[span.mr-1 驗證完成] #[sup #[i.i-check.text-success]]
    p 我們已經確認您的電子郵件地址無誤。您亦可在 #[a(href="/me/settings/") 個人設定頁面] 確認您的電子郵件地址的認證狀態。
    .my-4.py-4
      //img(src="/assets/img/p/auth/mail/verify/done/mail.svg")
    p: a(href="/me/settings") 查看個人設定
