doctype html
html
  include /../../static/assets/lib/bootstrap.ldui/main/index.pug
  head
  body
    h1 hi
    +script("/assets/lib/proxise/main/proxise.min.js")
    +script("/assets/lib/auth/dev/auth.min.js")
