extends /base.pug
block head
  style(type="text/css"): :stylus
    html, body
      width: 100%
      height: 100%
      margin: 0
      padding: 0
    .emoji
      cursor: pointer
      border: 1px solid #dddedf
      border-radius: .5em
      box-shadow: 0 1px 3px rgba(0,0,0,.1)
      transition: background .15s ease-in-out
    .emoji:hover
      background: #edeeef

    .emoji .icon
      padding: .25em 1em
      div
        width: 40px
        height: 40px
        background-position: center center
        background-repeat: no-repeat
        background-size: 100% 100%
    .emoji .count
      flex: 1 0 auto
      justify-content: end
      border-right: 1px solid #dddedf
      padding: .25em 1em
      font-weight: 700
      font-size: 1.66em
      display: flex
      align-items: center
    .links .entry
      display: flex
      align-items: center
    .links i
      margin-right: .5em
      color: #06b
      font-size: .75em
    .links .i-unlink
      color: #b60
block body
  .w-1024.rwd.mx-auto.h-100.d-flex.align-items-center.justify-content-center
    .d-flex.w-100
      .flex-grow-1.w-50.d-flex.justify-content-center: div
        div
          img(style="margin-top:-32px;width:128px;",src="/assets/img/logo/draft.gif")
        .text-lg.links
          .mb-1.entry
            i.i-link
            a(href="https://g0v.hackmd.io/@eaKkAb8HRjOKJ4erd2STnA/10Anni-Party/https%3A%2F%2Fg0v.hackmd.io%2FMpTtG8xSTwqS6TlCM-b6VA") 生日趴總表
          .text-muted.text-sm.mt-4: small Coming Soon
          hr
          .mb-1.entry #[i.i-unlink]#[a(href="#") 活動報名]
          .mb-1.entry #[i.i-unlink]#[a(href="#") Call for Porjects]
          .mb-1.entry #[i.i-unlink]#[a(href="#") 線上參與]
          .mb-1.entry #[i.i-unlink]#[a(href="#") 時間軸]
          .mb-1.entry #[i.i-unlink]#[a(href="#") 購買 NFT]
      .flex-grow-1.d-flex.align-items-center.justify-content-center.w-50
        div
          .emoji.d-flex.align-items-center.mb-3(ld-each="emoji")
            .count(ld="count"): .ld.ld-spin.ld-spinner
            .icon: div(ld="icon")
            

block script
  script(type="module"): include:lsc index.ls
