doctype html
html
  head
  body
    span error page
    #output

    script.
      console.log(">", document.cookie);
      var val = document.cookie.split(';')
        .map(function(d,i) { return d.split('='); })
        .filter(function(d,i) { return d[0] == 'lderror'; })
        .map(function(d,i) { return d[1]; })[0];
      if(val) {
        var err = decodeURIComponent(val);
        console.log(err);
        output.innerText = err;
      }
